---
- name: Include distro specific tasks
  ansible.builtin.include_tasks: "{{ ansible_os_family }}-tasks.yml"

- name: Ensure docker python module is installed
  ansible.builtin.pip:
    name: docker
    state: present

- name: Ensure we pick up correct version if override tag is specified
  ansible.builtin.set_fact:
    pihole_version: "{% if (override_tag | length) > 0 %}{{ override_tag }}{% else %}latest{% endif %}"

- name: Start container
  community.docker.docker_container:
    name: pihole
    image: "pihole/pihole:{{ pihole_version }}"
    pull: true
    state: started
    tty: true
    published_ports:
      - '53:53/tcp'
      - '53:53/udp'
      - '80:80'
      - '443:443'
    # network_mode: host
    env:
      TZ: 'Europe/London'
      VIRTUAL_HOST: 'pi.hole'
      PROXY_LOCATION: 'pi.hole'
      WEBPASSWORD: "{{ pi_pass }}"
    hostname: pi.hole
    volumes:
      - '~/etc-pihole/:/etc/pihole/'
      - '~/etc-dnsmasq.d/:/etc/dnsmasq.d/'
    restart_policy: unless-stopped
    capabilities:
      - NET_ADMIN
    privileged: true
    container_default_behavior: compatibility
